---
layout: home
title: Samsul Ma'arif
subtitle: Seorang Blogger, DevOps Engineer, SysAdmin, Pendengar yang baik.
meta-title: "Samsul Ma'arif - Catatan kecil pengguna Linux"
meta-description: "Seorang blogger, sysadmin, web developer, web master, serta pendengar yang baik. Anak pertama dari ketujuh bersaudara yang menggandrungi teknologi sejak Madrasah Tsanawiyah (2002)."
cover-img:
  - "/img/2014-05-01-16.43.11.jpg" : "Muktisari, Cilacap, Jawa Tengah (2014)"
  - "/img/menjadi-siswa-pak-onno.jpg" : "Menjadi siswa pak Onno W. Purbo di Sekolah Laskar Pelangi (2015)"
  - "/img/2014-04-29-08.58.56.jpg" : "Muktisari, Cilacap, Jawa Tengah (2014)"
  - "/img/tugu-malang-2019.jpg" : "Tugu Malang, Kota Malang (2019)"
  - "/img/teluk-penyu-2017.jpg" : "Pantai Teluk Penyu, Cilacap (2017)"
  - "/img/tiOS-Linux_20160429_101259.jpg" : "tiOS Linux, SMK Tarbiyatul Islam Kawunganten, Cilacap, Jawa Tengah (2016)"
  - "/img/osas2019-bali.jpg" : "openSUSE Asia Summit 2019, Bali"
  - "/img/festival-destika-2015.jpg" : "Festival Destika 2015, Belitung Timur, (2015)"
  - "/img/kampung-laut_20160708_171733.jpg" : "Kampung Laut, Cilacap, Jawa Tengah, (2016)"
use-site-title: true
share-img: "/img/workshop-server-website-desa.jpg"
---

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <img src="{{ post.image }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
